.top-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.middle-container{
  padding: 100px 0;
}
.bottom-container{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #66BFBF;
  font-family: 'Montserrat', serif;
  font-size: 1.25rem;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

h1 {
  color: #206a5d;
  line-height: 2;
  margin-top: 50px;
  font-size: 5.265rem;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {

  color: #66BFBF;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  color: #40514E;
  font-size: 1.25rem;
  line-height: 2;
}
hr{
  border:dotted #02475E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

.pro {
  text-decoration: underline;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill {
float: left;
  width: 125px;
  margin-right: 100px;
}

.me {
  width: 100px;
}

.phone {
  float: right;
  width: 100px;
  margin-left: 100px;
}

a {

  color: #11999E;
  font-weight: normal;
  text-decoration: none;
  margin: 10px 20px;

}
a:hover{
  color: #EAF6F6;
}

.word {
  font-weight: normal;
}

.skill-row {
  text-align: left;
  width: 80%;
  margin: 100px auto 100px auto;
  display: flex;

}
/* .para{
  padding-left: 230px;
} */
.intro{
  width: 35%;
  margin: auto;
}
.contact-msg{
  width: 35%;
  margin:40px auto 60px;
}
.btn {
  background: #1e836c;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.last{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .skill-row{
    flex-direction: column;
  }
}

body {
  overflow-x: hidden; /* Hide scrollbars */
}